.container {
    width: 95%;
    margin-left: 5%;
}

.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 1em 0;
}

.orders {
    background-color: #f24405c7;
    padding: 1em;
    margin: 0 0 0 1em;
    color: white;
    text-decoration: none;
}

.orders a {
    text-decoration: none;
}

.order-btn {
    display: flex;
    justify-content: space-between;
}

.order-btn button {
    background-color: #db067be1;
    padding: 1em;
    border: none;
    text-decoration: none;
    border-radius: 1em;
    color: #F2F2F2;
    cursor: pointer;
    font-weight: 200;
}

.order-btn button:hover {
    transform: translate(3px, 3px);
    transition: transform .3s ease;
    background-color: #db067bad;

}

.pagination button {
    margin: 0 1em;
}

.pagination .selected {
    background-color: salmon;
    color: white;
}

@media screen and (max-width:672px) {
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
    }
}

@media screen and (min-width:673px) and (max-width:990px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    .order-btn {
        display: block;
        line-height: 3em;
    }
}