.container {
    width: 95%;
    margin-left: 5%;
}

.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 1em 0;
}

@media screen and (max-width:672px) {
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
    }
}

@media screen and (min-width:673px) and (max-width:990px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }
}