.header-top {
    background-color: #031059;
}

.header {
    height: 80px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    font-size: 20px;
}